
DevKitApplicationBoard/.vs/
DevKitApplicationBoard/DevKitApplicationBoard/Debug/
DevKitApplicationBoard/DevKitApplicationBoard/*.log

DevKitWindowsApp/.vs/
DevKitWindowsApp/DevKitWindowsApp/bin/
DevKitWindowsApp/DevKitWindowsApp/obj/